body {
  background-color: #f1f0ec;
  min-height: 100px;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
}

.heading-1 {
  font-size: 64px;
}

.heading-2 {
  font-size: 48px;
}

.heading-3 {
  font-size: 40px;
}

.heading-4 {
  font-size: 32px;
}

.heading-5 {
  font-size: 24px;
}

.heading-6 {
  font-size: 20px;
}

.teks-body {
  font-size: 16px;
}

.teks-subtitlte {
  font-size: 12px;
}

.teks-caption {
  font-size: 10px;
}

.navbar-nav > li {
  padding-left: 5px;
  padding-right: 5px;
}
.navbar-nav > li {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-nav > li > a:hover {
  color: #ff9924;
}

.navbar-nav > li > a > .active {
  color: #ff9924;
}

.btn-primer {
  background-color: #ff9924;
  color: #ffff;
  font-weight: light;
  padding-right: 24px;
  padding-left: 24px;
}

.btn-primer:hover {
  background-color: #ffff;
  color: #ff9924;
  font-weight: light;
  padding-right: 24px;
  padding-left: 24px;
}
.hero {
  padding: 2rem;
}

.hn {
  padding: 542px;
}
.wnh > p {
  background-color: #ffe2a7;
}

.gb > h6 > span {
  background-color: #fff2d3;
  color: #93410b;
  padding: 10px;
}

.gb > h5 > a {
  color: #93410b;
}

.cg {
  background-color: #ffff;
  color: black;
  padding: 7px;
}

.carrer {
  background-color: #a8fbfe;
  color: #083c78;
  font-size: 10px;
}

.je {
  font-size: 12px;
}
.advance {
  background-color: #e3fcbb;
  color: #246f10;
  font-size: 10px;
}

.pp {
  max-height: 52px;
}

.by {
  font-size: 12px;
}

.featurednews {
  padding-top: 2rem;
}

.getbook {
  padding-top: 2rem;
}

.community {
  padding: 2rem;
  position: center;
  background-image: url("../image/bg-thread.png");
  background-size: cover;
  height: 125vh;
  width: 100%;
}

/* .video {
  padding: 2rem;
  position: center;
  background-image: url("../image/bg-thread.png");
  background-size: cover;
  height: 88vh;
  width: 100%;
} */

.tnf {
  margin-top: 50px;
}

.nf {
  padding-left: 5em;
  padding-right: 5em;
}

#fn {
  padding: 1rem;
}

.newsletter {
  padding-top: 2rem;
}
.footer {
  padding: 2rem;
  background-color: #fff8e7;
}
.footer p,
small,
a:link {
  text-decoration: none;
  color: black;
  margin: 0;
  padding-bottom: 0;
}
